@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* STOP iOS SAFARI BOUNCE AND SCROLL RECALCULATIONS */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  margin: 0;
  padding: 0;
}

body {
  /* REMOVED min-h-screen so it doesn't inject 100vh back into the app */
  @apply bg-black text-saturnText font-luckiest;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}